/* App Layout */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  padding-bottom: 80px;
}

/* Light/Dark Mode */
:root {
  --background-color: #fafafa;
  --text-color: #333;
  --link-color: #0077cc;
}

.dark-theme {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #8ab4f8;
}
