.result {
  margin-top: 20px;
  padding: 18px;
  border: 1px solid var(--result-border);
  border-radius: 12px;
  background-color: var(--result-bg);
  transition: background-color 0.3s, border-color 0.3s;
}

.result h3 {
  font-size: 20px;
  margin: 0;
  color: var(--text-color);
}

.result p {
  font-size: 16px;
  color: var(--text-color);
}

:root {
  --result-bg: #e0f7fa; /* Fundo do resultado no modo claro */
  --result-border: #00bcd4; /* Borda do resultado */
}

.dark-theme {
  --result-bg: #37474f; /* Fundo do resultado no modo escuro */
  --result-border: #607d8b; /* Borda do resultado no modo escuro */
}
